.content-details {
    background-image: url(../assets/fundos/pokemonFundo.png);
    background-size: cover;
    background-position: center;
}

.back-page {
    padding-left: .25rem;
    margin: 1rem;
    font-size: 1.2rem;
    border-radius: .8rem;
    width: 3rem;
    border: none;
    background-color: #f5f5f5;
    user-select: none;
}

.back-page:hover {
    background-color: #6c79db;

    i {
        color: #fff;
    }
}

.number-details {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    color: #fff;
}

.name-details {
    text-transform: capitalize;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: .15rem;
    margin-right: 4rem;
    margin-left: 1rem;
}

.types-details {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 4rem;
    display: flex;
}

.type-details-name {
    color: #fff;
    padding: .25rem .5rem;
    margin: 0.2rem;
    font-size: .925rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.type-details-name:first-child {
    margin-left: 1rem;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.image-details {
    width: 50%;
}

.card {
    background-color: #fff;
    border-top-left-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.navbar {
    background-color: #c43939;
    display: flex;
    justify-content: space-around;
}

.nav-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.nav-button:hover {
    border-bottom: 1px solid #fff;
}

.nav-button.active {
    border-bottom: 1px solid #2f00ff;
}

.content-container {
    position: relative;
    min-height: 300px;
    /* Altura fixa para o container */
    overflow: hidden;
}

.content {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.content.active {
    opacity: 1;
    transform: translateX(0);
}

.content.slide-left {
    transform: translateX(-100%);
}

.content.slide-right {
    transform: translateX(100%);
}

.title {
    display: flex;
    color: #808080;
    margin-top: .5rem;
}

.result {
    color: #000000;
}

.format{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
}

.format-ol{
    display: grid;
    grid-template-columns: 1fr ;
    font-size: 16px;
}

.evolutions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-evolutions{
    width: 100px;
}

.name-evolutions{
    text-transform: capitalize;
    text-align: center;
}

.moves-details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
    background-size: contain;
    overflow-y: scroll;
    list-style: none;
    font-size: 0.8rem;
    line-height: 170%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.move-card{
    margin-left: 1rem;
    display: flex;

}


.seta-normal {
    color: #a6a877;
}

.seta-grass {
    color: #77c850;
}

.seta-fire {
    color: #ee7f30;
}

.seta-water {
    color: #678fee;
}

.seta-electric {
    color: #f7cf2e;
}

.seta-ice {
    color: #98d5d7;
}

.seta-ground {
    color: #dfbf69;
}

.seta-flying {
    color: #a98ff0;
}

.seta-poison {
    color: #a040a0;
}

.seta-fighting {
    color: #bf3029;
}

.seta-psychic {
    color: #f65687;
}

.seta-dark {
    color: #725847;
}

.seta-rock {
    color: #b8a137;
}

.seta-bug {
    color: #a8b720;
}

.seta-ghost {
    color: #6e5896;
}

.seta-steel {
    color: #b9b7cf;
}

.seta-dragon {
    color: #6f38f6;
}

.seta-fairy {
    color: #f9aec7;
}

@media screen and (min-width: 992px) {

    .moves-details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 250px;
    }
}